
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:9191
  stats enable
  stats uri /
  stats refresh 10s

frontend balancer
  bind 0.0.0.0:9090
  mode http
  default_backend tv_nexa_services

backend tv_nexa_services
  mode http
  option forwardfor
  balance roundrobin
  server tv_nexa_api_service_1 tv_nexa_api_service_1:6969 check
  server tv_nexa_api_service_2 tv_nexa_api_service_2:6969 check
  server tv_nexa_api_service_3 tv_nexa_api_service_3:6969 check


